<head lang="en" th:fragment="common_header(title)">
	<meta charset="UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<link rel="stylesheet" th:href="@{/resources/css/bcgov.css}" />
	<!-- jquery.min.js must be before bootstrap.min.js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- Custom styles for this template -->
	<style>
	      .alert-info {
	          background-color: #fafafa;
	          border-left: 10px solid #38598a;
	          margin-bottom: 36px;
	      }
	</style>
	<title th:replace="${title}">Messaging Client</title>
</head>